<h1><center> Fiscal, Medicaid, Minimum Wage, GPD Data </center></h1>

This file cleans 4 other datasets, including
- Fiscal Aid for COVID-19
- Medicaid
- Minimum Wage
- GDP

In [2]:
import os
import pandas as pd
import requests

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# current working directory should be `./code`, check it:
print(os.getcwd())

GLOBAL_PATH = '../'
RAW_DATA_PATH = 'raw_data/'
PROCESSED_DATA_PATH = 'processed_data/'

/Users/niksun/Desktop/data-repository-partial-code/code

## **Part 1. COVID-19 Fiscal Relief Data**

COVID-19 Fiscal Relief Disaster Emergency Fun: the data comes from [USASPENDING](https://www.usaspending.gov/). It is important to understand the data/agencies that are reported to USAspending and ultimately displayed. There is a [YouTube](https://www.youtube.com/cha) channel that provides several demonstrations about using the site. Additional overview documentation can be found at official [website](www.usaspending.gov/about). The COVID-19 spending report, namely **Disaster Emergency Fund Code (DEFC)**, can be viewed [here](https://www.usaspending.gov/disaster/covid-19?publicLaw=all).

The process of downloading the data is:
- Go to [Custom Account Data](https://www.usaspending.gov/download_center/custom_account_data) page
- Select "All" for Budget Function
- Select "All" for Agency
- Select "Treasury Account" for Account Level
- For File Type: Select "Account Breakdown by Award"
- Select the latest period of FY20
- Click "Download"

**However, the downloaded file is very large, so the data is hard-coded from the map of the USAspending website. The data is downloaded on 2022-01-15**

In [2]:
# hard code the dataframe

covid_relief_data = {
    'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 
            'District of Columbia','Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 
            'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 
            'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
            'West Virginia', 'Wisconsin', 'Wyoming'],
    'Award_Obligations': [27.1, 12.2, 42.1, 14.3, 276.4, 36.8, 24.4, 7.7, 
                        20.7, 121.6, 74.7, 12.7, 9.3, 107.3, 33.2, 16.7,
                        16.9, 23.1, 37, 8.8, 43.8, 55.9, 60.6, 204.7,
                        18.9, 33.3, 8.3, 12.4, 24.9, 8.5, 67, 14.8,
                        170.9, 54.9, 8.2, 65, 32, 26.7, 80.7, 9.9, 
                        24.8, 8.5, 36, 201.1, 17.1, 5.8, 57.4, 49.5, 
                        10.3, 33.1, 5.5],
    'Award_Outlays': [24.6, 10.9, 40.1, 13.5, 252.3, 33.3, 23, 7, 
                        18.3, 115, 70.3, 11.8, 9.1, 97.5, 32.5, 16.6,
                        16, 21.5, 29.4, 8.5, 38.6, 50.1, 58.1, 203.2,
                        16.6, 30.7, 8.4, 11.6, 22.7, 8.5, 59.4, 12.7,
                        150.3, 50.8, 7.8, 61.7, 29.9, 24.1, 73.8, 8.6, 
                        23.6, 8.4, 34.8, 177.3, 16.2, 5.7, 48.8, 48.3, 
                        9.4, 31.2, 5.5],
    'Num_Awards': [297743, 47985, 335840, 165436, 2732743, 351173, 213446, 52989, 
                        58831, 2208569, 1056619, 95176, 88392, 1107174, 310295, 225401,
                        184326, 204024, 410050, 78623, 372875, 393458, 528962, 353026,
                        229919, 360424, 78125, 159357, 227153, 72346, 634180, 82221,
                        1579977, 510355, 71910, 590099, 250073, 222673, 629968, 63880, 
                        282232, 91555, 390843, 1831616, 145741, 41514, 435506, 375768, 
                        57208, 305860, 40626],
}

In [3]:
df = pd.DataFrame(covid_relief_data, columns = ['State', 'Award_Obligations', 'Award_Outlays', 'Num_Awards'])

In [4]:
# * 1_000_000_000
df['Award_Obligations'] = df['Award_Obligations'] * 1_000_000_000
df['Award_Outlays'] = df['Award_Outlays'] * 1_000_000_000

In [5]:
df

                   State  Award_Obligations  Award_Outlays  Num_Awards
0                Alabama       2.710000e+10   2.460000e+10      297743
1                 Alaska       1.220000e+10   1.090000e+10       47985
2                Arizona       4.210000e+10   4.010000e+10      335840
3               Arkansas       1.430000e+10   1.350000e+10      165436
4             California       2.764000e+11   2.523000e+11     2732743
5               Colorado       3.680000e+10   3.330000e+10      351173
6            Connecticut       2.440000e+10   2.300000e+10      213446
7               Delaware       7.700000e+09   7.000000e+09       52989
8   District of Columbia       2.070000e+10   1.830000e+10       58831
9                Florida       1.216000e+11   1.150000e+11     2208569
10               Georgia       7.470000e+10   7.030000e+10     1056619
11                Hawaii       1.270000e+10   1.180000e+10       95176
12                 Idaho       9.300000e+09   9.100000e+09       88392
13              Illinois       1.073000e+11   9.750000e+10     1107174
14               Indiana       3.320000e+10   3.250000e+10      310295
15                  Iowa       1.670000e+10   1.660000e+10      225401
16                Kansas       1.690000e+10   1.600000e+10      184326
17              Kentucky       2.310000e+10   2.150000e+10      204024
18             Louisiana       3.700000e+10   2.940000e+10      410050
19                 Maine       8.800000e+09   8.500000e+09       78623
20              Maryland       4.380000e+10   3.860000e+10      372875
21         Massachusetts       5.590000e+10   5.010000e+10      393458
22              Michigan       6.060000e+10   5.810000e+10      528962
23             Minnesota       2.047000e+11   2.032000e+11      353026
24           Mississippi       1.890000e+10   1.660000e+10      229919
25              Missouri       3.330000e+10   3.070000e+10      360424
26               Montana       8.300000e+09   8.400000e+09       78125
27              Nebraska       1.240000e+10   1.160000e+10      159357
28                Nevada       2.490000e+10   2.270000e+10      227153
29         New Hampshire       8.500000e+09   8.500000e+09       72346
30            New Jersey       6.700000e+10   5.940000e+10      634180
31            New Mexico       1.480000e+10   1.270000e+10       82221
32              New York       1.709000e+11   1.503000e+11     1579977
33        North Carolina       5.490000e+10   5.080000e+10      510355
34          North Dakota       8.200000e+09   7.800000e+09       71910
35                  Ohio       6.500000e+10   6.170000e+10      590099
36              Oklahoma       3.200000e+10   2.990000e+10      250073
37                Oregon       2.670000e+10   2.410000e+10      222673
38          Pennsylvania       8.070000e+10   7.380000e+10      629968
39          Rhode Island       9.900000e+09   8.600000e+09       63880
40        South Carolina       2.480000e+10   2.360000e+10      282232
41          South Dakota       8.500000e+09   8.400000e+09       91555
42             Tennessee       3.600000e+10   3.480000e+10      390843
43                 Texas       2.011000e+11   1.773000e+11     1831616
44                  Utah       1.710000e+10   1.620000e+10      145741
45               Vermont       5.800000e+09   5.700000e+09       41514
46              Virginia       5.740000e+10   4.880000e+10      435506
47            Washington       4.950000e+10   4.830000e+10      375768
48         West Virginia       1.030000e+10   9.400000e+09       57208
49             Wisconsin       3.310000e+10   3.120000e+10      305860
50               Wyoming       5.500000e+09   5.500000e+09       40626

In [6]:
# export to csv
df.to_csv(GLOBAL_PATH + PROCESSED_DATA_PATH + 'covid_aid.csv', index=False)

## **Part 2. Medicaid Data Year 2019**

The federal government and states jointly fund and administer Medicaid and the Children’s Health Insurance Program (CHIP). The CHIP column is the total expenditures for MCHIP and CHIP services and administration.

Later on we will need to use medicaid spending data right before the recession. The code below does the following tasks:
1. script the tables directly from the website into a dataframe
2. clean the data: 
    - convert datatype to floats for spending
    - add year 2019
3. note that the locations in State include some territories, resulting in 57 rows instead of 51. We need to pay attention to this when we merge other data on state.

In [8]:
url = "https://www.medicaid.gov/state-overviews/scorecard/annual-medicaid-chip-expenditures/index.html"
tables = pd.read_html(url)
print('number of tables:', len(tables))
# there are 3 tables and the 3rd table is the one we want
df = tables[2]
df.head(3)

number of tables: 3

,State,Medicaid Services,CHIP,Medicaid Administration,Total
0,Alabama,"$5,880,233,770","$391,366,847","$216,223,796","$6,487,824,413"
1,Alaska,"$2,096,340,139","$36,966,548","$147,328,880","$2,280,635,567"
2,American Samoa,"$52,551,662","$2,491,160","$2,516,477","$57,559,299"

In [9]:
# rename some columns
rename_dict = {'Medicaid Services': 'Medicaid_Services', 
              'CHIP': 'CHIP', 
              'Medicaid Administration': 'Medicaid_Admin', 
              'Total': 'Medicaid_Total'
}

df = df.rename(columns=rename_dict)
df.head(3)

,State,Medicaid_Services,CHIP,Medicaid_Admin,Medicaid_Total
0,Alabama,"$5,880,233,770","$391,366,847","$216,223,796","$6,487,824,413"
1,Alaska,"$2,096,340,139","$36,966,548","$147,328,880","$2,280,635,567"
2,American Samoa,"$52,551,662","$2,491,160","$2,516,477","$57,559,299"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              57 non-null     object
 1   Medicaid_Services  57 non-null     object
 2   CHIP               57 non-null     object
 3   Medicaid_Admin     57 non-null     object
 4   Medicaid_Total     57 non-null     object
dtypes: object(5)
memory usage: 2.4+ KB

In [11]:
# currently, the dollar amount is a string, we want to convert it to float
# we also want to remove the dollar sign and the comma
dolloar_cols = ['Medicaid_Services', 'CHIP', 'Medicaid_Admin', 'Medicaid_Total']
for col in dolloar_cols:
    df[col] = df[col].str.replace('$', '', regex=True)
    df[col] = df[col].str.replace(',', '', regex=True)
    df[col] = df[col].astype(float)

# we want to add a column for the year
df['Medicaid_Year'] = 2019
# reorder the columns
df = df[['State', 'Medicaid_Year', 'Medicaid_Services', 'CHIP', 'Medicaid_Admin', 'Medicaid_Total']]

In [12]:
# export the data to a csv file in the Output folder
df.to_csv(GLOBAL_PATH + PROCESSED_DATA_PATH + 'medicaid19.csv', index=False)

In [13]:
df.head()

,State,Medicaid_Year,Medicaid_Services,CHIP,Medicaid_Admin,Medicaid_Total
0,Alabama,2019,5.880234e+09,391366847.0,216223796.0,6.487824e+09
1,Alaska,2019,2.096340e+09,36966548.0,147328880.0,2.280636e+09
2,American Samoa,2019,5.255166e+07,2491160.0,2516477.0,5.755930e+07
3,Arizona,2019,1.316787e+10,234392534.0,314217545.0,1.371648e+10
4,Arkansas,2019,6.842931e+09,189476277.0,400691531.0,7.433099e+09

## **Part 3. Minimum Wage Data**

In [3]:
url = 'https://www.laborlawcenter.com/state-minimum-wage-rates'
url = requests.get(url).text

tables = pd.read_html(url)
print(len(tables))

tables[0].head(3)

2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,State,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,NaN
1,Alabama,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,TBD,Order Poster
2,Alaska,$7.75,$7.75,$8.75,$9.75,$9.80,$9.84,$9.89,$10.19,$10.34,$10.34,$10.85,TBD,Order Poster

In [4]:
df = tables[0]
# set the first row as the header
df.columns = df.iloc[0] 
# remove the first row and the last two columns
df = df.iloc[1:, :-3]

# rename the columns
df.columns = ['State', 'MinWage13', 'MinWage14', 'MinWage15', 'MinWage16', 'MinWage17', 
              'MinWage18', 'MinWage19', 'MinWage20', 'MinWage21', 'MinWage22']

# remove the dollar sign and convert to float
for col in df.columns[1:]:
    df[col] = df[col].str.replace('$', '', regex=True).astype(float)

df

,State,MinWage13,MinWage14,MinWage15,MinWage16,MinWage17,MinWage18,MinWage19,MinWage20,MinWage21,MinWage22
1,Alabama,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
2,Alaska,7.75,7.75,8.75,9.75,9.80,9.84,9.89,10.19,10.34,10.34
3,Arizona,7.80,7.90,8.05,8.05,10.00,10.50,11.00,12.00,12.15,12.80
4,Arkansas,7.25,7.25,7.50,8.00,8.50,8.50,9.25,10.00,11.00,11.00
5,California,8.00,9.00,9.00,10.00,10.50,11.00,12.00,13.00,14.00,15.00
6,Colorado,7.78,8.00,8.23,8.31,9.30,10.20,11.10,12.00,12.32,12.56
7,Connecticut,8.25,8.70,9.15,9.60,10.10,10.10,10.10,12.00,13.00,14.00
8,Delaware,7.25,7.75,8.25,8.25,8.25,8.25,8.75,9.25,9.25,10.50
9,District of Columbia,8.25,9.50,10.50,11.50,12.50,13.25,14.00,15.00,15.20,16.10
10,Florida,7.79,7.93,8.05,8.05,8.10,8.25,8.46,8.56,8.65,10.00
11,Georgia,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
12,Hawaii,7.25,7.25,7.75,8.50,9.25,10.10,10.10,10.10,10.10,12.00
13,Idaho,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
14,Illinois,8.25,8.25,8.25,8.25,8.25,8.25,8.25,10.00,11.00,12.00
15,Indiana,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
16,Iowa,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
17,Kansas,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
18,Kentucky,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
19,Louisiana,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
20,Maine,7.50,7.50,7.50,7.50,9.00,10.00,11.00,12.00,12.15,12.75
21,Maryland,7.25,7.25,8.00,8.75,9.25,10.10,10.10,11.00,11.75,12.50
22,Massachusetts,8.00,8.00,9.00,10.00,11.00,11.00,12.00,12.75,13.50,14.25
23,Michigan,7.40,8.15,8.15,8.50,8.90,9.25,9.45,9.65,9.65,9.87
24,Minnesota,6.15,8.00,9.00,9.50,9.50,9.65,9.86,10.00,10.08,10.33
25,Mississippi,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
26,Missouri,7.35,7.50,7.65,7.65,7.70,7.85,8.60,9.45,10.30,11.15
27,Montana,7.65,7.90,8.05,8.05,8.15,8.30,8.50,8.65,8.75,9.20
28,Nebraska,7.25,7.25,8.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
29,Nevada,8.25,8.25,8.25,8.25,8.25,8.25,8.25,9.00,9.75,10.50
30,New Hampshire,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
31,New Jersey,7.25,8.25,8.38,8.38,8.44,8.60,10.00,11.00,12.00,13.00
32,New Mexico,7.50,7.50,7.50,7.50,7.50,7.50,7.50,9.00,10.50,11.50
33,New York,7.25,8.00,8.75,9.00,9.70,10.40,11.10,11.80,12.50,13.20
34,North Carolina,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
35,North Dakota,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
36,Ohio,7.85,7.95,8.10,8.10,8.15,8.30,8.55,8.70,8.80,9.30
37,Oklahoma,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
38,Oregon,8.95,9.10,9.25,9.75,10.75,10.75,11.25,12.00,12.75,13.50
39,Pennsylvania,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
40,Puerto Rico,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,8.50
41,Rhode Island,7.75,8.00,9.00,9.00,9.60,10.10,10.50,11.50,11.50,12.25
42,South Carolina,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
43,South Dakota,7.25,7.25,8.50,8.50,8.65,8.65,9.10,9.30,9.45,9.95
44,Tennessee,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
45,Texas,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
46,Utah,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
47,Vermont,8.60,8.73,9.15,9.60,10.00,10.50,10.78,10.96,11.75,12.55
48,Virginia,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,9.50,11.00
49,Washington,9.19,9.32,9.47,9.47,11.00,11.50,12.00,13.50,13.69,14.49
50,West Virginia,7.25,7.25,8.00,8.75,8.75,8.75,8.75,8.75,8.75,8.75
51,Wisconsin,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25
52,Wyoming,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25,7.25

In [5]:
# export to csv
df.to_csv(GLOBAL_PATH + PROCESSED_DATA_PATH + 'minwage.csv', index=False)

## **Part 4. GDP Data**

The GPD data comes from [Bureau of Economic Analysis (BEA)](https://www.bea.gov/data/gdp/gdp-state). The data can be download from [here](https://apps.bea.gov/regional/downloadzip.cfm) by selecting `SAGDP tables: Annual GDP by State`.

In [7]:
df = pd.read_csv(GLOBAL_PATH + RAW_DATA_PATH + 'SAGDP/' + 'SAGDP1__ALL_AREAS_1997_2022.csv')

# remove the last 8 rows
df = df.iloc[8:, 1:]
# keep LineCode == 1
df = df[df['LineCode'] == 1]
# remove columns 2 to 6 and keep the first two columns and the rest
df = df.iloc[:, [0] + list(range(10, len(df.columns)))]

df.shape

df.head(3)

,GeoName,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
8,Alabama,157221.3,156853.2,160422.4,165134.7,176625.0,184369.5,187270.8,189002.5,186946.7,180707.2,184702.4,187605.8,189245.5,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7,199880.8,209979.3,213264.8
16,Alaska,39406.6,40958.7,42979.0,42355.3,44055.0,45657.1,49190.2,51721.0,51252.1,56215.1,54601.5,55280.3,58283.6,55354.3,54188.2,54740.8,54246.6,54278.7,53327.0,53433.8,50705.2,50869.4,49633.7
24,Arizona,208439.5,213166.2,220696.7,234065.9,244317.3,262326.0,274179.4,283250.7,280810.1,257498.5,260307.1,266101.5,271440.0,273481.9,276948.9,282577.0,291275.2,303606.1,314827.5,325395.3,327178.0,347656.0,356417.0

In [9]:
# rename the columns
df.columns = ['State', 'GDP00', 'GDP01', 'GDP02', 'GDP03', 'GDP04', 'GDP05', 'GDP06',
                'GDP07', 'GDP08', 'GDP09', 'GDP10', 'GDP11', 'GDP12', 'GDP13', 'GDP14',
                'GDP15', 'GDP16', 'GDP17', 'GDP18', 'GDP19', 'GDP20', 'GDP21', 'GDP22']

# convert float columns to from millions to units
for col in df.columns[1:]:
    df[col] = df[col] * 1000000

In [10]:
# save to csv
df.to_csv(GLOBAL_PATH + PROCESSED_DATA_PATH + 'gdp.csv', index=False)